{% extends 'layout.html' %}

{% block body %}
<br><br><br>
<h1> About Us </h1>
  <div>
    <p>Our overall goal for this project is to create a web application that demonstrates our understanding of how security
      should be taken into the highest consideration when building a software system.
      Part of our system we will protect against known security vulnerabilities and other parts we will
      design to be unprotected against these vulnerabilities to demonstrate our understanding of the subject material.

  </p>
</div>

{% endblock %}
