{% extends 'layout.html' %}

{% block body %}

      <header>
        <div class = "accountHeader">
          <h1> Personal Account </h1>
        </div>
      </header>

      <main class="container" id="profileContainer">
        <div>
          <div >
            <div>
              <div class = "profileHeader">
                <h1> Profile Information </h1>
              </div>
              <div class = "profileField">
                <span class = "profileType">
                  Name:
                </span>
                <span class="profileValue">
                  <div class="pTest"> {{result.name}} </div>
                </span>
              </div>
              <div class = "profileField">
                <span class = "profileType">
                  Username:
                </span>
                <span class="profileValue">
                  <div class="pTest"> {{result.username}} </div>
                </span>
              </div>
              <div class = "profileField">
                <span class = "profileType">
                  Email:
                </span>
                <span class="profileValue">
                  <div class="pTest"> {{result.email}} </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </main>
</div>

{% endblock %}
