{% extends 'layout.html' %}

{% block body %}
<div class="fluid-container">
  <h1> Properties </h1>
    <table style="width:100%">
      <tr>
        <th> Property </th>
        <th> Description </th>
        <th> Location </th>
      </tr>
      {% for property in properties %}
      <tr>
        <td>
          <a href="/property/{{property.id}}">{{ property["title"] }} </a>
        </td>
        <td> {{ property["property_description"] }}</td>
        <td> {{ property["location"] }}</td>
      </tr>
      {% endfor %}
    </table>
</div>
{% endblock %}
